.skeletonCard {
  display: flex;
  margin-bottom: 20px;
}

.cardContent {
  width: 100%;
  flex-direction: column;
  padding: 25px;
}

.cover {
  min-width: 200px;
  object-fit: cover;
}

.userName {
  width: 60px;
  height: 20px;
  background-color: #00bcd4;
  margin-bottom: 7px;
}

.date {
  height: 14px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.fullLine {
  height: 14px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.fullLine {
  height: 14px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
